@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1366px;
  margin: auto;
}

header {
  text-align: center;
}

.clicker-script-regular {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.water-brush-regular {
  font-family: "Water Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo {
  font-size: 35px;
  color: #ee1c45;
}

.font-300 {
  font-weight: 300;
}

.font-700 {
  font-weight: 700;
}

.section-main {
  position: relative;
  height: 768px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  padding: 20px 93px;
}

.navigation {
  display: inline-block;
  font-size: 14px;
  margin: 0 135px;
}

li {
  display: inline-block;
}

.nav-item {
  color: white;
  margin-right: 50px;
}

.btn {
  font-size: 14px;
  color: white;
  border: none;
  background-image: linear-gradient(90deg, #cd1a40, #ff803c);
  border-radius: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
}
.p-x-17 {
  padding-left: 16px;
  padding-right: 16px;
}
.p-x-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.active {
  color: tomato;
}

.title {
  position: absolute;
  top: 50%;
  color: white;
  transform: translate(0, -50%);
}

.title .title1 {
  font-size: 46px;
}

.title .main-title {
  font-size: 86px;
  margin: 16px 0;
}
.title .description {
  line-height: 24px;
}

.destination-container {
  text-align: center;
  margin: 76px auto;
  width: 1180px;
}

.title-choose {
  color: #cd1a40;
  font-size: 46px;
  padding-bottom: 8px;
}

.title-destination {
  color: #1e1e1e;
  font-size: 65px;
  text-transform: uppercase;
  margin: 8px 0 36px;
  font-weight: 200;
}

.left-card,
.right-card {
  width: 580px;
  height: 626px;
  display: inline-block;
  vertical-align: middle;
}
.left-card {
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.56)), url("../images/left-card.jpg");
}
.right-card {
  margin-left: 14px;
}

.right-upper-cards,
.right-down-card {
  width: 580px;
  height: 306px;
}

.right-down-card {
  position: relative;
  margin-top: 12px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.56)), url("../images/right-down-card.jpg");
}

.upper-left-card,
.upper-right-card {
  width: 280px;
  height: 306px;
  display: inline-block;
  position: relative;
}

.upper-left-card {
  background:
    linear-gradient(rgba(0, 0, 0, 0.56)), url("../images/upper-left-card.jpg");
}
.upper-right-card {
  margin-left: 10px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.56)), url("../images/upper-right-card.jpg");
}

.card-text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.card-title {
  font-size: 46px;
  color: white;
  margin: 8px;
  padding: 8px;
}

.card-btn {
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-cover {
  background-size: cover;
}
