* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  padding: 25px 45px;
}
main {
  padding: 127px 131px;
  text-align: center;
}

.navigation {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #14203e;
  margin-left: 444px;
  margin-right: 199px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 56px;
}
a {
  display: inline-block;
}

.login {
  font-size: 18px;
  font-weight: 400;
  color: black;
  border: none;
  background-color: #f6f0e8;
  border-radius: 10px;
  padding: 13px 30px;
  margin-right: 15px;
}
.freeTrialHeader {
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #14203e;
  border: none;
  border-radius: 10px;
  padding: 13px 30px;
}

.freeTrialMain {
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #14203e;
  border: none;
  border-radius: 10px;
  padding: 25px 40px;
}
.nav-item {
  color: #14203e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.active {
  color: tomato;
}

h1 {
  color: #14203e;
  font-size: 66px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.sub-header {
  font-weight: 400;
  font-size: 22px;
  color: #14203e;
}

.section-header {
  font-weight: 600;
  font-size: 14px;
  color: #14203e;
}

.card-header {
  font-weight: 700;
  font-size: 22px;
  color: #14203e;
}

.date {
  font-weight: 400;
  font-size: 14px;
  color: #14203e;
}
