@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  max-width: 1366px;
  margin: auto;
}

.section-main {
  height: 768px;
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
